* {
  margin: 0;
  box-sizing: border-box;
}

.bg-grey {
  background: #f7f7f7;
}
body {
  font-family: "lato", sans-serif;
  line-height: 1.5;
  color: #1d3557;
}

section > .container {
  width: 1170px;
  margin: auto;
  display: block;
  padding: 30 15px;
}

#nav-bar {
  text-align: center;
}
/* Banner */
.img-banner {
  position: relative;
  background-image: url(/images/banner.jpg);
  width: 100%;
  height: 600px;
  background-size: cover;
  filter: brightness(50%);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}
.text-banner {
  position: absolute;
  top: 30%;
  left: 40%;
  color: white;
  font-size: 20px;
  text-align: center;
}
.text-banner h1 {
  text-transform: uppercase;
}

.text-banner span {
  color: rgb(227, 231, 235);
}
/* end-banner */

/* Nav-bar */
#nav-bar a:link,
a:visited {
  text-decoration: none;
  color: #1d3557;
  text-transform: uppercase;
  border-left: 2px solid white;
  padding: 60px 20px 3px;
}

#nav-bar a:hover,
a:active {
  font-weight: bold;
  cursor: grab;
}

.text-nav {
  display: inline-block;
  margin: 10px 70px 0;
}

.icon {
  color: rgb(78, 151, 220);
  font-weight: bold;
}

/* info */
.about-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  gap: 40px;
  line-height: 2;
  margin-top: 40px;
}

li span {
  font-weight: bold;
}

.section-title {
  margin-bottom: 20px;
  font-size: 32px;
}

#pesonal-info {
  padding: 0 200px 80px 30px;
  /* background-color: white; */
  /* border-radius: 35px; */
  /* box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.19); */
  font-size: 18px;
  margin-bottom: 30px;
  /* padding: 40px 30px;
  background-color: #e7f2f8;
  border-radius: 25px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.19); */
}

#target {
  padding: 40px 30px;
  /* background-color: #e7f2f8; */
  /* border-radius: 25px; */
  /* box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.19); */
  margin-bottom: 30px;
}

/* phan 4 */
.job-grid {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 20px;
  align-items: start;
}
/* kinh nghiệm việc làm */
.job-box-grid {
  display: grid;
  grid-template-columns: 75% 25%;
  column-gap: 20px;
  row-gap: 40px;
  border: 0.5px solid #e7ebec;
  align-items: center;
  padding: 24px;
  /* box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.19); */
}

.job-content {
  grid-column: 1/-1;
  margin: 20px;
}
.job-title {
  font-size: 18px;
  margin-left: 20px;
}
.now {
  background-color: rgb(36, 131, 219);
  padding: 4px 8px;
  color: #dff1fa;
  text-align: center;
  border-radius: 12px;
}

.list {
  position: relative;
}
.list1 {
  position: relative;
}

.job-node::before {
  content: "•";
  color: rgb(14, 174, 174);
  font-weight: bolder;
  display: inline-block;
  font-size: 30px;
  position: absolute;
  left: -30px;
  top: -10px;
}
/* icon-Sở thích */

.icon-rounding {
  width: 50px;
  height: 50px;
  color: rgb(62, 206, 206);
  border: 2px solid rgb(57, 181, 181);
  padding: 10px;
  border-radius: 50%;
}
.rounding {
  /* width: 70px;
  height: 70px; */
  color: rgb(62, 206, 206);
  border: 2px solid rgb(57, 181, 181);
  padding: 10px;
  border-radius: 50%;
  margin-right: 30px;
  margin-left: 5px;

  /* margin-bottom: 0.5rem; */
}
/* Ngôn ngữ */
.good {
  background-color: #109eeb;
  display: inline-block;
  height: 3px;
  width: 40px;
  margin-right: 10px;
}
.bad {
  background-color: #ececec;
  display: inline-block;
  height: 3px;
  width: 40px;
  margin-right: 10px;
}

/* chứng chỉ */
#certificates {
  margin-top: 60px;
  margin-bottom: 60px;
}
.cer-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
  row-gap: 30px;
}
.img-cc {
  width: 240px;
  margin-right: 10px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

.cer-content {
  display: flex;
  gap: 20px;
}
.cer-content-2 {
  padding-left: 20px;
  border-left: 2px solid #d6c08d;
}
.cer-content-3 {
  grid-column: 1/-1;
  padding-top: 20px;
  border-top: 2px solid #d6c08d;
}
/* project */
#project {
  margin-top: 60px;
  margin-bottom: 60px;
}
.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
}
.project-flex {
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}
.project-title {
  padding: 20px;
  border-left: 2px solid #bdc3c7;
  border-right: 2px solid #bdc3c7;
  font-weight: bold;
  font-size: 18px;
}
.project-border {
  padding: 5px;
  border-top: 2px solid #bdc3c7;
  border-left: 2px solid #bdc3c7;
  border-right: 2px solid #bdc3c7;
}
table {
  border-collapse: collapse;
}
td {
  padding: 10px;
}
tr td:first-child {
  width: 100px;
  vertical-align: top;
  font-weight: bold;
}
tr {
  border: 2px solid #bdc3c7;
}
/* Footer# */
#footer {
  line-height: 1.5;
  text-align: center;
  margin: 30px 30px;
}
#footer a:link,
a:visited {
  font-size: 24px;
  font-weight: bold;
  margin-right: 50px;
  text-decoration: none;
  color: #1d3557;
}
#footer a:hover,
a:active {
  cursor: grab;
  color: darkturquoise;
}
/* nâng cao */
.avt-default {
  height: 250px;
  width: 200px;
  border-radius: 50%;
  background-color: #ffff;
  border: 4px solid #b7b3a9;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

.avt-banner {
  position: absolute;
  display: inline-block;
  bottom: -200px; /* dành cho máy tính câycây */
  /* bottom: -180px; dành cho máy tính latoplatop */
  right: 50%;
  transform: translate(50%, -50%);
}
/* border: 2px solid #b7b3a9;
box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.19); */
